/* design intentionally made horrible to see who doesn't change it*/


body {
   font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
   /* font-family: SF Pro Text;*/
    font-size: 1.0em;
}

ul[class="nav"]{
    text-align: center;
   /* position: relative;*/
    left: -10px;
   /* top: 10px;*/
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
   // overflow: hidden;
    background-color: #1A1A1A;
//    opacity: 0.9;


//-webkit-filter: blur(2px);
  // -moz-filter: blur(2px);
  // -o-filter: blur(2px);
  // -ms-filter: blur(2px);
  // filter: blur(20px);



}


//.sticky-top{
//-webkit-filter: blur(2px);
//   -moz-filter: blur(2px);
//   -o-filter: blur(2px);
//   -ms-filter: blur(2px);
//   filter: blur(2px);
//}




.nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;

}




.nav > li {
	filter: blur(0px);
    text-align: center;
   /* position: relative;*/
    left: 300px;
    float: left;
}

.nav > li a {
filter: blur(0px);
    display: block;
    color: #e9e9e9;
   /* text-align: center;*/
    padding: 16px;
    text-decoration: none;
}

.nav > li a:hover {
	filter: blur(0px);
    background-color: #3c3c3c0;
    color: #ffffff;
}


.nav-link{
filter: blur(0px);
//looks dope but sccs messes it us	background-color: #1A1A1A;
background-color:#343a40
//	opacity: 0.8;
}


.picture-image{
	padding-left: 8%;
	padding-right: 8%;
//	filter: grayscale(100%);
	//background-size: 100%;
	width: 100%;
//	height: 100%;
	max-width: 200%;
	max-height: 100%;
	background:#000000;
	margin: -8% 0px 0px 0px;
}



label[for=pleasesignin]{
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 2.0em;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 11%;
    display:inline-block;
}

label[for=createanaccount]{
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 2.0em;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 11%;
    display:inline-block;
}


label[for=addproductpage]{
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 2.0em;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 300px;
    display:inline-block;
}

label[for=addproductpage]{
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 2.0em;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 300px;
    display:inline-block;
}


input, select {
 //   margin-right: 1000px;
 //   margin-left: 25px;
   font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
 //   font-size: 1.0em;
 //   width: 20%;
 //   padding: 12px 30px;
 //   margin: 8px 0;
 //   display: inline-block;
 //   border: 1px solid #ccc;
 //   border-radius: 10px;
 //   box-sizing: border-box;

 //  float: middle;
    font-size: 15px;
    border-radius: 100px;
    width: 350px;
    padding: 15px 15px;
    margin: 10px 11%;
    display: flow-root;
    border: 1px solid #2349c4;
    border-radius: 10px;
    box-sizing: border-box;
    outline: none;
}





input[type=submit] {
    margin-top: 30px;
    margin-right: 25px;
    margin-left: 25px;
    width: 350px;
    background-color: #0959dd;
    color: white;
    padding: 15px 20px;
    margin: 30px 11%;
   border: none;
   border-radius: 10px;
    cursor: pointer;
    float: middle;
	outline: none;
}


input[type=checkbox]{
margin: 0;
border: 0;
}



.centered{
	padding-top: 80px;
//	top: 50%;
//	left: 50%;
//	transform: translate(35%, -700%);
	position: relative;
	text-align:center;
//	font-family: "San Francisco";
 // font-weight: 400;
//  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
	font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;;
    	font-weight: 500;
    	font-size: 3.8em;
	color:#ffffff;
	background: #000000;	
}


.prod_name{
    padding-top:20px;
    padding_bottom:20px;
    padding-bottom:20px
    padding-top:20px


    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    //margin-top: 50px;
    //margin-bottom: 50px;
    margin-left: 200px;
    text-align:center;
    display: inline-block;
    color: #212529;
}

.container{
max-width: 100%;
background-color:##6c757d!important;
color:#ffffff;
//looks good but messuses up pages other than home padding-top:15px;
}

#flash{
max-width:100%;
background-color:#6c757d!important;
color:#ffffff; //looks cool #cc66e3
}

.row bg-secondary justify-content-center{
background-color:#007AFF!important;
}

.row bg-secondary justify-content-center{
color:#007AFF!important;
}


.bg-secondary{
//background-color:#!important;
background-color: #cc66e3!important;
    font-weight: 300;
    font-size: 1.2em;
}

.cart{
text-align:center;
}

.info_page{
        position: relative;
        text-align:center;
	font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
        font-weight: 500;
        font-size: 1.2em;
        color:#007AFF;
        right-padding: 10px;
        background-color: #000000;
	margin-left:15px;
	margin-right:15px;
}

.info_page_inverted{
	position: relative;
        text-align:center;
        font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
        font-weight: 500;
        font-size: 1.2em;
        color:#007AFF;
        right-padding: 10px;
        background-color: #FBFBFD;
        margin-left:15px;
        margin-right:15px;
}



.add_to_cart{
	position: relative;
        text-align:center;
        font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
        font-weight: 500;
        font-size: 1.2em;
        color:#007AFF;
        background-color: #000000;
        left-padding: 10px;
        margin-left:15px;
        margin-right:15px;
}



.info_inverted {
    text-align: center;
    background-color:FBFBFD;
}



.reg12bg{
        padding-left: 8%;
        padding-right: 8%;
        width: 100%;
        max-width: 200%;
        max-height: 100%;
        background:#FBFBFD;
//	margin: -10px -10px -10px -10px;
}



.add_to_cart_inverted{
	position: relative;
        text-align:center;
        font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
        font-weight: 500;
        font-size: 1.2em;
        color:#007AFF;
        background-color: #FBFBFD;
        left-padding: 10px;
        margin-left:15px;
        margin-right:15px;
}



.info_inverted{
    text-align: center;
    background-color:#FBFBFD;
}


.centered_inverted{
	padding-top: 80px;
        position: relative;
        text-align:center;
        font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
        font-weight: 700;
        font-size: 3.4em;
        color:#000000000;
        background: #FBFBFD;
}


.info{
	background-color:#000000;
	text-align:center;

}

.row bg-secondary justify-content-center{
background-color:#007AFF!important;
margin-top:15px;
}



.navbar {
    background: rgba(0,0,0,0.9);
    /* opacity: 0.8; */
    backdrop-filter: blur(40px) saturate(200%) brightness(300%);
}

.subhead{
        position: relative;
        text-align:center;
        font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
        font-weight: 400;
        font-size: 2.2em;
        color:#FBFBFD;
        background: #000000;
}
.pricing-info{
        position: relative;
        text-align:center;
        font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
        font-weight: 400;
        font-size: 1.4em;
        color:#86868B;
        background: #000000;
}


h3.subhead {
    background-color: #000000;
    margin-bottom: -1px;
    padding-bottom: 15px;
}

p.carrier {
    margin-bottom: 0px;
    padding-bottom: 15;
}


p.price.price-with-carrier {
    margin-bottom: 3;
}


.navbar-dark .navbar-toggler {
    color: #ffffff;
      //  background: rgba(0,0,0,0.9);
    /* opacity: 0.8; */
   // backdrop-filter: blur(40px) saturate(200%) brightness(300%);
	border-color:none; 
}

p{
margin-bottom:0px;
}



#useless {
     background-color: #dcdddf;
     -webkit-animation: random 5s infinite;
     animation: colorcycle 10s infinite;
}
@keyframes  colorcycle {
    20% { background-color: #d7e5ee; } 
    40% { background-color: #deecda; } 
    60% { background-color: #fad5cd; } 
    80% { background-color: #76777c; }
    100% { background-color: #dcdddf; }
}


.ipadImg{
	padding-left: 8%;
        padding-right: 8%;
        width: 100%;
        max-width: 200%;
        max-height: 100%;
//        background:#FBFBFD;
	margin: -10% -10% -10% -10&;
}

.clear_header{
    padding-top: 80px;
    position: relative;
    text-align: center;
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 3.4em;
}

.clear_link{
    position: relative;
    text-align: center;
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    color: #007AFF;
    margin-left: 15px;
    margin-right: 15px;
}

.clear_div{
	text-align: center;
}




.list-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    //padding-left: 0;
    margin-bottom: 0;
    border-radius: .25rem;
    padding-left: 11%;
}

.list-group-item:last-child {
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
    border-radius: 15px;
    height: 100%;
    width: 350px;
    max-height: 400px;

}

.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background-color: #dee2e6;
    border: 0px solid rgb(255 0 0 / 13%);
    border-radius: 10px;
}

@media (min-width: 992px)
.col-lg-2 {
    //ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 100%;
    padding: 5px;
    max-width: 100%;
    max-width: 100%;
}



.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px; 
    padding-left: 15px;
    padding-top: 15pc;
    padding-bottom: 15px;

    padding: 5px;
    max-height: 400px;
}

*, ::after, ::before {
    box-sizing: none; 
}


.col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 100%;
}

form {
    margin-left: -10;
}

.no_results {
    margin-left: 11%;
}


.cart_item_div {
    margin-left: 20%;
    display: flex;
}



div {
    font-size: 20px;
    font-weight: 200;
}









.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #0959dd;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #09f;
}

.icon{
    //-webkit-text-stroke-width: 2px;
    //-webkit-text-stroke-color: black;
    //color: white;
}
